.nav-icon{
    object-fit: cover;
}

.navbar-container{
    background-color: rgb(158, 76, 165) !important;
}
.nav-line{
    text-decoration: none;
    color: white;
}
.nav-line:hover{
    color: rgb(172, 170, 170);
}