.banner-container{
    background-image: linear-gradient(to right, rgb(158, 76, 165), white, white);
    /* background-image: url('https://i.ibb.co/1sZS9Wn/banner-bg.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.name-title{
    font-size: 64px;
}

@media only screen and (max-width: 600px) {
    .banner-container{
        text-align: center;
        background-image: none;
    }
    .banner-titles p{
        margin-top: 20px;
    }
  }